<main class="container">
    <div class="row">
        <h2 class="text-center col py-1">Albums de {{artistName}} </h2>
    </div>
    <div class="row text-center mx-1">
        <div *ngFor="let album of Album" class="col-2 text-center p-1">
          <div class="artist">
            <h4>{{album.name}}</h4>
            <img [src]="album.image" [alt]="album.name" class="img-fluid">
            <a><button [routerLink]="['/songs',album.id,artistName]" class="btn btn-light form-control mt-1">Chansons</button></a>
          </div>
        </div>
     </div>
</main>
