<main class="container">
    <div class="row">
        <h2 class="text-center col py-1">Concerts de NOM_ARTISTE</h2>
    </div>

    <div class="row my-2 text-center justify-content-center">
      <div class="col-auto artist">
        <img src="assets/images/carte.png" alt="Carte">
      </div>
      
    </div>


    <div class="row mx-1">
      <div class="col-3 p-1">
        <div class="artist">
          <h4>DATE ET HEURE</h4>
          <div>PAYS</div>
          <div>VILLE</div>
        </div>
      </div>
    </div>
</main>