<main class="container">
    <div class="row">
        <h2 class="text-center col py-1" [translate]="'composantartitist.title1'" [translateParams]="{ artist: artistName }"></h2>
    </div>
    <div class="row text-center mx-1">
        <div *ngFor="let song of Song" class="col-2 text-center p-1">
          <div class="artist">
            <h4>{{song.name}}</h4>
            <a><button class="btn btn-light form-control mt-1" [translate]="'composantartitist.title11'" (click)="getVideo(song.name)">Écouter</button></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngIf="safeUrl" class="col text-center">
            <iframe 
              width="560" 
              height="315" 
              [src]="getSafeUrl()"
              frameborder="0" 
              allowfullscreen>
            </iframe>
        </div>
    </div>
</main>
