
<main class="container">
    <div class="row">
      <div class="col-3 p-3">
        <h3>Ajouter un artiste</h3>
        <form>
          <div class="form-group mb-2">
              <input type="text" name="artist" [(ngModel)]="artistName" placeholder="Nana Mouskouri" class="form-control">
          </div>
          <div class="form-group">
              <input (click)="getArtist()" type="submit" value="Rechercher" class="btn btn-light">
          </div>
        </form>
      </div>
      <div class="col p-3 text-center">
        <h2>Vos artistes</h2>
        <div class="row">
          <div *ngFor="let artist of artistList" class="col-3 p-1">
            <div  *ngIf="artist != undefined"  class="artist">
              <h4>{{artist.name}}</h4>
              <img [src]="artist.imageUrl" alt="{{artist.name}}" class="img-fluid">
              <a><button [routerLink]="['/shows',artist.name]"  class="btn btn-light form-control mt-1">Concerts</button></a>
              <a><button [routerLink]="['/album',artist.id,artist.name]" class="btn btn-light form-control mt-1">Albums</button></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button (click)="Clear()" class="btn btn-light">Vider les favoris</button>
          </div>
        </div>
      </div>
    </div>
  </main>
