<header class="container-fluid">
  <div class="row">
    <div class="col-auto align-self-center"><h1>Spot-moi</h1></div>
    <div class="col"></div>
    <div class="col-auto py-2 nav"><h2><a [routerLink]="['']">Vos artistes</a></h2></div>
    <div class="col-auto py-2 align-self-center">
    <select name="language" class="form-select">
      <option value="fr">Français</option>
      <option value="en">English</option>
    </select>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container-fluid">
  <div class="row py-1">
    <div class="col text-left text-lg-center">
      <p>&copy; J'ai yoink le template de l'enseignant</p>
    </div>
  </div>
</footer>

