<main class="container">
    <div class="row">
        <h2 class="text-center col py-1">Chansons de NOM_ALBUM</h2>
    </div>
    <div class="row text-center mx-1">
        <div class="col-2 text-center p-1">
          <div class="artist">
            <h4>NOM_CHANSON</h4>
            <a><button class="btn btn-light form-control mt-1">Écouter</button></a>
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col text-center">
            <img src="assets/images/video.png" alt="Vidéo youtube">
        </div>
    </div>
</main>
